## Week 1 - Introduction to pandas

In your virtual environment, install the pandas package for working with data frames: 
`conda install pandas`

Pandas is a Python library used for manipulating 1 and 2 dimensional structured (.csv, .tsv, ,txt, .xlsx) or semi-structured (.json) data. 

Here are some of the useful resources for pandas: 
<ul>
    <li><a href=https://pandas.pydata.org/docs/user_guide/10min.html>10 minutes to pandas</a></li>
    <li><a href=http://pandas.pydata.org/pandas-docs/stable/tutorials.html>Pandas cookbook</a></li>
    <li><a href=https://chrisalbon.com/code/python/data_wrangling/pandas_dataframe_importing_csv/ >Chris Albon's pandas dataframe importing csv</a></li>
    
In this tutorial, we learn how to work with data using pandas dataframes.

#### Import Packages

In [3]:
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

In [4]:
# Reading from a csv file, into a data frame
df = pd.read_csv('resources/MotorInsuranceFraudClaimABTFull.csv')

- Show data frame first few rows; default n = 5; otherwise specify df.head(n=2) 
- The rows are indexed starting from 0
- NaN means that the feature value is missing
- Find more description at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

In [5]:
df.head()

,ID,Insurance Type,Income of Policy Holder,Marital Status,Num Claimants,Injury Type,Overnight Hospital Stay,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,CI,0,NaN,2,Soft Tissue,No,1625,3250,2,2.0,1.0,0,1
1,2,CI,0,NaN,2,Back,Yes,15028,60112,1,0.0,0.0,15028,0
2,3,CI,54613,Married,1,Broken Limb,No,-99999,0,0,0.0,0.0,572,0
3,4,CI,0,NaN,3,Serious,Yes,270200,0,0,0.0,0.0,270200,0
4,5,CI,0,NaN,4,Soft Tissue,No,8869,0,0,0.0,0.0,0,1

Each column of the dataframe is a pandas `Series`. The dataset contains both numerical and categorical data. Numerical values take continuous values, for example `Income of Policy Holders`. Categorical values can have a finite number of values, for example `Injury-Type`.

In [6]:
# Check how many rows and columns this dataframe has
df.shape

(500, 14)

In [7]:
#How many rows/instances/records?
df.shape[0]

500

In [8]:
#How many columns/features?
df.shape[1]

14

In [9]:
# Show the data types in each column.
# int64 and float64 are numeric columns.
# The pandas type 'object' stands for Python strings
# Columns mixing numbers and characters are automatically converted to type 'object'.
# Some of the type 'object' columns may be more appropriate as continuous or as categorical types.
# We first explore the data, then decide which columns should be treated as 'continuous' and which 
# should be treated as 'categorical'.
# You can see below that some columns are wrongly set to continuous types, e.g., ID.
df.dtypes

ID                           int64
Insurance Type              object
Income of Policy Holder      int64
Marital Status              object
Num Claimants                int64
Injury Type                 object
Overnight Hospital Stay     object
Claim Amount                 int64
Total Claimed                int64
Num Claims                   int64
Num Soft Tissue            float64
% Soft Tissue              float64
Claim Amount Received        int64
Fraud Flag                   int64
dtype: object

In [10]:
# Descriptive stats for continuous features
# df.describe() by default only prints stats for the numeric columns int64 and float64.
# Often we need to change the feature data type so it more appropriately reflects whether this is 
# a continuous or a categorical feature.
df.describe()

,ID,Income of Policy Holder,Num Claimants,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
count,500.000000,500.000000,500.000000,500.00000,500.00000,500.000000,490.000000,500.000000,500.000000,500.000000
mean,250.500000,13739.994000,1.908000,16373.20400,9597.18600,0.798000,0.234694,0.172012,13051.942000,0.336000
std,144.481833,20081.535489,1.012713,29426.27696,35655.68622,2.666724,0.589635,0.428015,30547.194864,0.472812
min,1.000000,0.000000,1.000000,-99999.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,125.750000,0.000000,1.000000,3322.25000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,250.500000,0.000000,2.000000,5663.00000,0.00000,0.000000,0.000000,0.000000,3253.500000,0.000000
75%,375.250000,33918.500000,3.000000,12245.50000,11282.75000,1.000000,0.000000,0.000000,8191.750000,1.000000
max,500.000000,71284.000000,4.000000,270200.00000,729792.00000,56.000000,5.000000,2.000000,295303.000000,1.000000

In [11]:
# Descriptive stats for continuous features
# Transpose the table 
# One feature per row, stats in the columns
# The 'count' column shows how many rows have data for that feature.
# We can see that Num Soft Tissue only has 490 rows defined (out of 500 rows total), so 10 rows are 
# missing this value.
# This table does not show the cardinality and the %Missing columns.
# We compute them below.
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,500.0,250.500000,144.481833,1.0,125.75,250.5,375.25,500.0
Income of Policy Holder,500.0,13739.994000,20081.535489,0.0,0.00,0.0,33918.50,71284.0
Num Claimants,500.0,1.908000,1.012713,1.0,1.00,2.0,3.00,4.0
Claim Amount,500.0,16373.204000,29426.276960,-99999.0,3322.25,5663.0,12245.50,270200.0
Total Claimed,500.0,9597.186000,35655.686220,0.0,0.00,0.0,11282.75,729792.0
Num Claims,500.0,0.798000,2.666724,0.0,0.00,0.0,1.00,56.0
Num Soft Tissue,490.0,0.234694,0.589635,0.0,0.00,0.0,0.00,5.0
% Soft Tissue,500.0,0.172012,0.428015,0.0,0.00,0.0,0.00,2.0
Claim Amount Received,500.0,13051.942000,30547.194864,0.0,0.00,3253.5,8191.75,295303.0
Fraud Flag,500.0,0.336000,0.472812,0.0,0.00,0.0,1.00,1.0

In [12]:
#Keep only the numeric features.
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['ID', 'Income of Policy Holder', 'Num Claimants', 'Claim Amount',
       'Total Claimed', 'Num Claims', 'Num Soft Tissue', '% Soft Tissue',
       'Claim Amount Received', 'Fraud Flag'],
      dtype='object')

In [13]:
# Select only the numeric features
df[numeric_columns]

,ID,Income of Policy Holder,Num Claimants,Claim Amount,Total Claimed,Num Claims,Num Soft Tissue,% Soft Tissue,Claim Amount Received,Fraud Flag
0,1,0,2,1625,3250,2,2.0,1.0,0,1
1,2,0,2,15028,60112,1,0.0,0.0,15028,0
2,3,54613,1,-99999,0,0,0.0,0.0,572,0
3,4,0,3,270200,0,0,0.0,0.0,270200,0
4,5,0,4,8869,0,0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...
495,496,0,1,2118,0,0,0.0,0.0,0,1
496,497,29280,4,3199,0,0,NaN,0.0,0,1
497,498,0,1,32469,0,0,0.0,0.0,16763,0
498,499,46683,1,179448,0,0,0.0,0.0,179448,0
499,500,0,1,8259,0,0,0.0,0.0,0,1

In [14]:
# Return the set of unique values for feature ID
df['ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500], dtype=int64)

In [15]:
# Return the cardinality of the set of unique values, i.e., number of distinct values for feature ID
len(df['ID'].unique())

500

In [16]:
# Get the number of unique values per feature
df.nunique()

ID                         500
Insurance Type               1
Income of Policy Holder    171
Marital Status               3
Num Claimants                4
Injury Type                  4
Overnight Hospital Stay      2
Claim Amount               493
Total Claimed              235
Num Claims                   7
Num Soft Tissue              5
% Soft Tissue                9
Claim Amount Received      329
Fraud Flag                   2
dtype: int64

`Insurance Type` contains 1 unique value throughout the dataset. This implies it is a constant column.

In [17]:
# Return the unique values for feature Income
df['Marital Status'].unique()

array([nan, 'Married', 'Single', 'Divorced'], dtype=object)

In [18]:
#Missing data
#http://pandas.pydata.org/pandas-docs/stable/missing_data.html
# When summing data, NA (missing) values will be treated as zero
# If the data are all NA, the result will be NA
# Methods like cumsum and cumprod ignore NA values, but preserve them in the resulting arrays

#Missing data per feature
df.isnull().sum()

ID                           0
Insurance Type               0
Income of Policy Holder      0
Marital Status             330
Num Claimants                0
Injury Type                  0
Overnight Hospital Stay      0
Claim Amount                 0
Total Claimed                0
Num Claims                   0
Num Soft Tissue             10
% Soft Tissue                0
Claim Amount Received        0
Fraud Flag                   0
dtype: int64

In [19]:
# Turn the feature 'ID' from 'int64' to 'category' type
# Assigning it back to the column is important, else it is not reflected in the dataframe
df['ID'] = df['ID'].astype('category')
# Turn the feature FraudFlag into type 'category'
df['Fraud Flag'] = df['Fraud Flag'].astype('category')
df.dtypes

ID                         category
Insurance Type               object
Income of Policy Holder       int64
Marital Status               object
Num Claimants                 int64
Injury Type                  object
Overnight Hospital Stay      object
Claim Amount                  int64
Total Claimed                 int64
Num Claims                    int64
Num Soft Tissue             float64
% Soft Tissue               float64
Claim Amount Received         int64
Fraud Flag                 category
dtype: object

In [20]:
#Select all columns of type 'object'
object_columns = df.select_dtypes(['object']).columns
object_columns

Index(['Insurance Type ', 'Marital Status', 'Injury Type',
       'Overnight Hospital Stay'],
      dtype='object')

In [21]:
#Convert selected columns to type 'category'
for column in object_columns:
    df[column] = df[column].astype('category')
df.dtypes

ID                         category
Insurance Type             category
Income of Policy Holder       int64
Marital Status             category
Num Claimants                 int64
Injury Type                category
Overnight Hospital Stay    category
Claim Amount                  int64
Total Claimed                 int64
Num Claims                    int64
Num Soft Tissue             float64
% Soft Tissue               float64
Claim Amount Received         int64
Fraud Flag                 category
dtype: object

In [22]:
#Update the numeric features, after converting ID and flag to 'category'.
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['Income of Policy Holder', 'Num Claimants', 'Claim Amount',
       'Total Claimed', 'Num Claims', 'Num Soft Tissue', '% Soft Tissue',
       'Claim Amount Received'],
      dtype='object')

In [23]:
# Performing a descriptive statistic
# Shows the mean for each numeric feature
df[numeric_columns].mean()

Income of Policy Holder    13739.994000
Num Claimants                  1.908000
Claim Amount               16373.204000
Total Claimed               9597.186000
Num Claims                     0.798000
Num Soft Tissue                0.234694
% Soft Tissue                  0.172012
Claim Amount Received      13051.942000
dtype: float64

## Exercise

1. Load the NYC13 flights dataset - 
   Data frame should contain the following columns
   - *year, month, day* Date of departure.
   - *dep_time, arr_time* Actual departure and arrival times (format HHMM or HMM), local tz.
   - *dep_delay, arr_delay* Departure and arrival delays, in minutes. Negative times represent early departures/arrivals.
   - *carrier* Two letter carrier abbreviation. See airlines to get name.
   - *flight* Flight number.
   - *tailnum* Plane tail number. See planes for additional metadata.
   - *origin, dest* Origin and destination. See airports for additional metadata.
   - *air_time* Amount of time spent in the air, in minutes.
   - *distance* Distance between airports, in miles.
   - *hour, minute* Time of scheduled departure broken into hour and minutes.
2. Identify the numerical and object columns. Do you find anything incorrectly detected? If yes, how to correct it?
3. a. How many different destinations are present? How many destinations have less than 10 flights listed?    
   b. Identify the top 3 carriers and compute what proportion of the flights do they have listed in this data?    
4. Calculate the number of missing values for   
    a. each column            
    b. the whole dataframe             
5. Perform descriptive statistics (standarad deviation, median) on the numerical columns

Additional Reading (useful for exercise): 

https://pandas.pydata.org/pandas-docs/dev/reference/frame.html#computations-descriptive-stats

## 1.

In [24]:
df_flights = pd.read_csv('resources/flights.csv')

In [25]:
df_flights.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

## 2.

In [26]:
df_flights.dtypes

year           int64
month          int64
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

`month` is considered as integer here. However, it should be a categorical variable. `year` can be considered a categorical or numerical data based on the context.

In [27]:
#converting month to object type
df_flights['month'] = df_flights['month'].apply(str)
df_flights['year'] = df_flights['year'].apply(str)
#check for datatypes again
df_flights.dtypes

year          object
month         object
day            int64
dep_time     float64
dep_delay    float64
arr_time     float64
arr_delay    float64
carrier       object
tailnum       object
flight         int64
origin        object
dest          object
air_time     float64
distance       int64
hour         float64
minute       float64
dtype: object

## 3a.

In [28]:
len(df_flights['dest'].unique())

105

In [29]:
df_flights['dest'].unique()

array(['IAH', 'MIA', 'BQN', 'ATL', 'ORD', 'FLL', 'IAD', 'MCO', 'PBI',
       'TPA', 'LAX', 'SFO', 'DFW', 'BOS', 'LAS', 'MSP', 'DTW', 'RSW',
       'SJU', 'PHX', 'BWI', 'CLT', 'BUF', 'DEN', 'SNA', 'MSY', 'SLC',
       'XNA', 'MKE', 'SEA', 'ROC', 'SYR', 'SRQ', 'RDU', 'CMH', 'JAX',
       'CHS', 'MEM', 'PIT', 'SAN', 'DCA', 'CLE', 'STL', 'MYR', 'JAC',
       'MDW', 'HNL', 'BNA', 'AUS', 'BTV', 'PHL', 'STT', 'EGE', 'AVL',
       'PWM', 'IND', 'SAV', 'CAK', 'HOU', 'LGB', 'DAY', 'ALB', 'BDL',
       'MHT', 'MSN', 'GSO', 'CVG', 'BUR', 'RIC', 'GSP', 'GRR', 'MCI',
       'ORF', 'SAT', 'SDF', 'PDX', 'SJC', 'OMA', 'CRW', 'OAK', 'SMF',
       'TUL', 'TYS', 'OKC', 'PVD', 'DSM', 'PSE', 'BHM', 'CAE', 'HDN',
       'BZN', 'MTJ', 'EYW', 'PSP', 'ACK', 'BGR', 'ABQ', 'ILM', 'MVY',
       'SBN', 'LEX', 'CHO', 'TVC', 'ANC', 'LGA'], dtype=object)

In [30]:
df_flights["dest"].value_counts().lt(10).sum()

3

## 3b.

In [31]:
# https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.value_counts.html
df_flights['carrier'].value_counts(normalize=True)

UA    0.174196
B6    0.162229
EV    0.160858
DL    0.142855
AA    0.097183
MQ    0.078381
US    0.060978
9E    0.054814
WN    0.036449
VX    0.015328
FL    0.009680
AS    0.002120
F9    0.002034
YV    0.001785
HA    0.001016
OO    0.000095
Name: carrier, dtype: float64

In [32]:
df_flights["carrier"].value_counts().head(3)

UA    58665
B6    54635
EV    54173
Name: carrier, dtype: int64

## 4a.

In [33]:
df_flights.isna().sum()

year            0
month           0
day             0
dep_time     8255
dep_delay    8255
arr_time     8713
arr_delay    9430
carrier         0
tailnum      2512
flight          0
origin          0
dest            0
air_time     9430
distance        0
hour         8255
minute       8255
dtype: int64

## 4b.

In [34]:
df_flights.isnull().sum().sum()

63105

## 5.

In [35]:
#Update the numeric features, after converting ID and flag to 'category'.
numeric_columns = df_flights.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['day', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'flight',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [36]:
df_flights[numeric_columns].std()

day             8.768607
dep_time      488.281791
dep_delay      40.210061
arr_time      533.264132
arr_delay      44.633292
flight       1632.471938
air_time       93.688305
distance      733.233033
hour            4.894426
minute         18.230997
dtype: float64

In [37]:
df_flights[numeric_columns].median()

day            16.0
dep_time     1401.0
dep_delay      -2.0
arr_time     1535.0
arr_delay      -5.0
flight       1496.0
air_time      129.0
distance      872.0
hour           14.0
minute         31.0
dtype: float64